body{
    margin: auto;
    max-width: 900px;
    background-color: #87BBA2;
}

#game{
    overflow: auto;
    margin-bottom: 10px;
}

#player1{
    width: 290px;
    height: 180px;
    float: left;
    border: solid 1px;
    margin-right: 10px;
}

#player2{
    width: 290px;
    height: 180px;
    float: left;
    border: solid 1px;
    margin-left: 10px;
}

#results{
    width: 300px;
    height: 150px;
    float: left;
    border: solid 1px;
}

#text1, #text2{
    text-align: center;
}

#messages{
    width: 700px;
    height: 300px;
    border: solid 1px;
    margin: auto;
    margin-bottom: 10px;
    overflow: auto;
}

#exampleInputEmail1{
    width: 700px;
    margin: auto;
}

#inputMessage{
    width: 600px;
}

#player1Btn, .score, .random, .pick{
    text-align: center;
}

.btn1{
    margin-bottom: 5px;
}

#player2Btn{
    text-align: center;
}

.btn2{
    margin-bottom: 5px;
}